*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none !important;
}

body {
  font-family: 'Ubuntu', serif;
  font-weight: normal;
  font-style: normal;
}

a {
  color: #000;
}

a:hover {
  color: #000;
  background: none !important;
}

h1, h2, h3, h4 {
}

.navbar {
  margin-bottom: 0;
}

.brand {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #fac960;
  border: 5px solid #fac960;
  color: #fff;
}

.navbar-brand {
  color: #000;
  font-size: 30px;
}

main {
  background: #fff;
}

.hero-unit {
  background: #fac960;
  width: 100%;
  color: #fff;
  height: 500px;
  background: url(/images/desk.jpg);
  background-size: cover;
  position: relative;
}

.hero-unit .color {
  background: rgba(100, 200, 240, 0.8);
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
}

.hero-text {
  position: absolute;
  bottom: 0;
}

.hero-text h2 {
  color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.9);
  font-size: 100px;
}

@media (max-width: 768px) {
  .hero-text h2 {
    font-size: 50px;
  }

  .social li {
    display: none;
  }

  .social li:last-child {
    display: block;
  }
}

img {
  max-width: 100%;
}


.bottom {
  position: absolute;
  bottom: 0;
}

.post {
  aborder-top: 1px solid #ddd;
  aborder-bottom: 1px solid #ddd;
  font-size: 12px;
  margin: 40px 0 80px;
}

.post:last-child {
  margin-bottom: 40px;
}

.post p {
  text-align: left;
  font-family: Andale Mono, Lucida Console, Courier New, monospace;
  line-height: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  letter-spacing: .01rem;
  font-style: normal;
  font-size: 22px;
  line-height: 1.5;
  max-width: 700px;
  margin: 20px auto;
}

.post p a {
  font-weight: 600;
}

.date {
  color: #aaa;
  font-size: 10px;
  margin-bottom: 20px;
  display: block;
}
